<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>


<style>
    /* 新增的 CSS 样式 */
    nav ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;        
        list-style: none;
    }
nav li {
        margin: 0 5px;
    }
    
</style>


<body>
    <nav>

    </nav>
    
    <nav>
        <ul>
            <!-- url_for("index")=>index是app.py的function名稱 -->
            <li><a href='{{url_for("index")}}'>圖表1</a></li> 
            <li><a href='{{url_for("index1")}}'>圖表2</a></li>
            <li><a href='{{url_for("index2")}}'>圖表3</a></li>
        </ul>
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
</body>

</html>