{% extends "base.jinja.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    
    <!-- 註解 -->
    <style type="text/css">
        h1 {
                font-family: Arial, sans-serif;
                margin-top: 80px; /* 標題向下80px */ 
            }        
    </style>
    <!-- 註解 -->

{% endblock %}
{% block content %}
    <!-- <h1>(圖表1) 3D Axes</h1> -->
    <h1 style="margin-left: 25px;">圖表1 - 3D Axes</h1>
    <div id="chart" class="chart" style="max-width: 1200 ;overflow: auto;">

        <!-- 註解 -->
        <style>

        </style>        
        <!-- 註解 -->
        
    </div>
    <script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>
    <script type="text/javascript">
        var graphs = {{ graphJSON | safe}};
        Plotly.newPlot('chart', graphs, {});     
    </script>

{% endblock %}